:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
}


  body {
      background-color: var(--light-gray);
  }

.card {
    background-color: var(--white);
    width: 190px;
    height: 320px;
    margin: auto;
    padding: 9px;
    border-radius:12px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    box-shadow: 11px 11px 6px -7px rgba(0,0,0,0.3);
    -webkit-box-shadow: 11px 11px 6px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 11px 11px 6px -7px rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card__qr-code {
    text-align: center;
    display: flex;
}

.card__qr-code img {
    width: 100%;
    border-radius:7px;
    margin: 0 auto;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
}

.card__text {
    width: 90%;
    align-items: center;
    color: var(--dark-blue);
    margin: 0 auto;
    font-family: 'Outfit', sans-serif;
}



.card__title {
    font-weight: bold;
    color: var(--dark-blue);
    text-align: center;
    margin: 5px auto 0;
    font-size: 15px;
}

.card__text {
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
}